* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: montserrat, sans-serif;
}

h1 {
  font-size: 17.4em;
  font-family: vox, sans-serif;
  line-height: 85%;
  margin-top: .3em;
}

h2 {
  font-size: 3.8em;
  font-family: vox, sans-serif;

}

h3 {
  font-family: vox, sans-sans-serif;
  font-size: 2.8em;
  text-align: right;

}

img {
  height: auto;
  max-width: 100%;
}

.logo {

  height: auto;
  width: 5.1em;
}


.topNav {
  display: flex;
  height: 3.5em;
  justify-content: space-between;
  margin: 3em 8.5em;
  width: auto;
}


#navcontainer
{
margin: 1em 0 0 3em;
padding: 0;

}

#navcontainer ul
{
border: 0;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li
{
display: block;
float: left;
text-align: center;
padding: 0;
margin: 0;
}


#navcontainer ul li a
{
background: #fff;
width: 100px;
height: 40px;
border-top: 2px solid #000;
border-left: 2px solid #000;
border-bottom: 2px solid #000;

padding: 7px 0 0 0;
margin: 0 0 10px 0;
color: #000;
text-decoration: none;
display: block;
text-align: center;
font: normal 18px montserrat, sans-serif;
}

.end-list {
  border-right: 2px solid #000;
  height: 40px;
}


#navcontainer ul li a:hover
{
color: #fff;
background: #FF008E;
}



.hero {
  display: flex;
  flex-wrap: wrap;
  margin-left: 22em;
  margin-top: 7em;
}


.right-elements {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}



.barcode {
  position: fixed;
  left: 0;
  height: 56em;
  margin-top: 12.5em;
  width: 12em;
  background-repeat: no-repeat;
}

.date {
  display: inline-block;
  float: right;
  margin-right: 1em;
  width: 2em;
  height: 14em;
}

.green-arrow {
  height: 12em;
  margin-left: 11.5em;
  margin-top: 48.5em;
  width: 12em;

}

#blurb1 {
  font-size: 2.4em;
  font-family: montserrat, sans-serif;
  font-weight: 200;
  line-height: 115%;

  height: 290px;
  padding-top: 189px;
  width: 230px;
}
#blurb2 {
  font-family: montserrat, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 120%;
  height: 120px;
  padding-top: 356px;
  padding-left: 65px;
  width: 200px;
}



.selfie-img {
  height: 29.5em;
  margin-left: 5em;
  margin-right: 8em;
  margin-top: 19em;

  width: 29.5em;

}

.body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;


}

.projectquad {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8.5em;
}

#proj {
  margin-top: 205px;
  margin-left: 95px;
}

#talk {
  margin-left: 95px;
  padding-top: 345px;
}

.project1 {
  border: 3px black solid;
  width: 60.8em;
  height: 70em;
  line-height: 150%;
  margin: 3.5em;
  padding-left: 6em;
  padding-top: 6em;
  background-color: #29E267;
}
.project2 {
  border: 3px black solid;
  width: 60.8em;
  height: 70em;
  line-height: 150%;
  margin: 3.5em;
  padding-left: 6em;
  padding-top: 6em;
  background-color: #FF008E;
}
.project3 {
  border: 3px black solid;
  width: 60.8em;
  height: 70em;
  line-height: 150%;
  margin: 3.5em;
  padding-left: 6em;
  padding-top: 6em;
  background-color: #FBFF2F
}
.project4 {
  border: 3px black solid;
  width: 60.8em;
  height: 70em;
  line-height: 150%;
  margin: 3.5em;
  padding-left: 6em;
  padding-top: 6em;
  background-color: #FF3317;
}

.projectpara {
  height: auto;
  font-size: 1.6em;
  font-family: montserrat, sans-serif;
  width: 155px;
  margin-top: 75px;
}


/* case study page 1 */

.container-oly {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 88%;

}

.header {
  background-image: url("images/olymockup.png");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 0;
  right: 0;
  height: 798px;
  width: 790px;
}

.cs-head {
  margin-left: -100px;
}

#cs-bottom {
  font-size: 4.2em;
  margin-top: 100px;
}


.project-exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 300px;
  height: 287px;
  width: auto;
}

.proj-word {
  width: 514px;
}

.proto-img {
  height: 29em;
  width: 29em;
  margin-right: 260px;
}



.greenarrow-img {
  height: 10.5em;
  width: 10.5em;
  align-self: flex-end;
  margin-left: 180px;

}

.pinkarrow-img {
  height: 1.9em;
  margin-left: 5px;
  width: 1.9pem;
}

.sec-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 385px;
  width: 51.5em;
}

#casepara {
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 140%;
  margin-top: 20px;
  margin-left: 100px;

}

#role {
  text-decoration: underline;
  font-size: 2.2em;
  font-family: montserrat, sans-serif;
}

.role-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 100px;

}

#role-detail {
  margin-top: 18px;
  font-size: 1.4em;
}

.intro {
  background-color: #FFD9EE;
  display: flex;
  margin-top: 115px;
  margin-bottom: 115px;
  height: 60em;
}

.problem {
  height: auto;
  margin-right: 345px;
  margin-left: 104px;
  width: 51.5em;
}



#prob-head {
  text-align: left;
  margin-top: 80px;
  margin-right: 300px;
}

.olymockup2-img {
  align-self: center;
  height: 382px;
  width: 51.5em;
}

.survey {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 165px;
  width: 55.5em;

}

.charts-img {
  height: 48em;
  margin: 0 auto;
  margin-top: 190px;
  width: 122.3em;
}

.analysis {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 250px;
  width: 55.5em;
}

.competitive-img {
  height: 21.5em;
  margin: 0 auto;
  margin-top: 180px;
  width: 80.6em;
}

.personas {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 250px;
  width: 55.5em;
}

.persona-box {
  background-color: #E9E6E6;
  height: 1100px;
  margin: 0 auto;
  margin-top: 140px;
  padding: 42px 0;
  width: auto;
}

.personas-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 101.4em;
  width: 124.5em;
}

.user-flows {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 250px;
  width: 55.5em;
}

.userflow-img {
  height: 58.5em;
  margin: 0 auto;
  margin-top: 180px;
  width:50.5em;
}

.wireframes {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 250px;
  width: 55.5em;
}

.wire-imgs {
  display: flex;
  margin-top: 180px;
  margin-bottom: 185px;
  justify-content: space-between;
}
.wire1-img {
  height: 50.5em;
  width: 30.8em;
}

.wire2-img {
  height: 50.5em;
  width: 30em;
}

.wire3-img {
  height: 21.1em;
  width: 29.8em;
}

.wire4-img {
  height: 50.5em;
  width: 29.4em;
}

.brand-whole {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #FFD9EE;
  height: 106em;
  margin: 0 auto;
  margin-top: 130px;
  width: auto;
}

.branding {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 115px;
  width: 55.5em;
}

.brand-box {
  height: auto;
  width: auto;
}
.branding-img {
  display: block;
  height: 67.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -270px;

}

.design-system {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 350px;
  width: 55.5em;
}

.style-img {
  height: 61.8em;
  margin: 0 auto;
  margin-top: 180px;
  width: 124.8em;

}

.high-fidelity {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 150px;
  width: 55.5em;
}

.hf-imgs {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: space-around;
  width: auto;
}

.hf1-img {
  height: 638px;
  margin-right: 30px;
  width: 402px;
}

.hf2-img {
  height: 712px;
  margin-right: 30px;
  width: 402px;
}

.hf3-img {
  height: 589px;
  width: 402px;
}

.cs-h3 {
  text-align: left;
  margin-top: 100px;
}

.finalmockup-img {
  display: flex;
  flex-wrap: wrap;
  height: 1020px;
  margin: 0 auto;
  margin-top: 100px;
  width: 1410px;
}

.conclusion {
  display: flex;
  flex-direction: column;
  margin-top: 240px;
  margin-bottom: 240px;
  height: 287px;
  width: 514px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul.email-list {
    list-style: none;
    padding-left: 0;
    display: flex;
}

ul.phone-list {
    list-style: none;
    padding-left: 0;
    display: flex;
}

ul.social-links {
    list-style: none;
    padding-left: 0;
    display: flex;
}

ul.navbutton {
  display: flex;
  height: 30px;
  justify-content: space-around;
  list-style: none;
  border-style: solid;
  border-width: 2px;
  width: 300px;

}



li {
  font-family: montserrat, sans-serif;

}

footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}



.ft-main {
  display: flex;
  justify-content: space-around;
  padding-top: 65px;
}

.ft-main-item {
  width: 160px;

}

.social-links {
  flex-direction: column;
  font-size: 1.6em;
  padding-top: 17px;
  padding-bottom: 70px;
}

.phone-list {
  font-size: 1.6em;
  padding-top: 17px;
  width: 200px;
}

.email-list {
  font-size: 1.6em;
  padding-top: 17px;
}

.ft-title {
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 1.6rem;
    border-bottom: 1px solid #29E267;

}

ul.ft-social-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 95px;

}

.ft-legal {
  display: flex;
  font-size: 1.4em;
  justify-content: center;
  margin-bottom: 20px;
}


/* mobile home */
@media screen and (max-width: 414px){

.barcode {
  display: none;
}

.selfie-img {
  display: none;
}

h1 {
  font-size: 11em;
  line-height: 85%;
  margin-top: auto;
}

h2 {
  font-size: 3.0em;
  line-height: 100%;
  padding-right: 1em;
}

.logo {
  height: 2.4em;
  width: 3.5em;
}

.topNav {
  margin: 3em 2em;
}

#navcontainer {
  display: none;
}

.hero {
  margin-left: 3em;
  margin-top: 2em;
}

#blurb1 {
  font-size: 1.3em;
  height: 19em;
  font-weight: 300;
  line-height: 125%;
  padding-top: 7.9em;
  margin-left: 2.8em;
  width:10em;
}

#blurb2 {
  display: none;
}

.green-arrow {
  display: none;
}

#proj {
  font-size: 2em;
  margin-left: 28px;
  margin-top: 8em;
}

#talk {
  font-size: 2em;
  margin-left: 28px;
  padding-top: 8em;
}

.projectquad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 8.5em;
}

.project1 {
  border: 2px black solid;
  width: 30.8em;
  height: 30.8em;
  line-height: 150%;
  padding-left: 3em;
  padding-top: 3em;
  background-color: #29E267;
}
.project2 {
  border: 3px black solid;
  width: 30.8em;
  height: 30.8em;
  line-height: 150%;
  padding-left: 3em;
  padding-top: 3em;
  background-color: #FF008E;
}
.project3 {
  border: 3px black solid;
  width: 30.8em;
  height: 30.8em;
  line-height: 150%;
  padding-left: 3em;
  padding-top: 3em;
  background-color: #FBFF2F
}
.project4 {
  border: 3px black solid;
  width: 30.8em;
  height: 30.8em;
  line-height: 150%;
  padding-left: 3em;
  padding-top: 3em;
  background-color: #FF3317;
}

.projectpara {
  height: auto;
  font-size: 1.2em;
  font-family: montserrat, sans-serif;
  font-weight: 200;
  width: 162px;
  margin-top: 38px;
}

.footer {
  display: flex;

}

.ft-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 65px;
}

.ft-main-item {
  margin-left: 3.6em;
  width: 180px;
}

.social-links {
    flex-direction: column;
    font-size: 1.4em;
    padding-top: 1em;
    margin-bottom: 7em;

  }

.phone-list {
    font-size: 1.4em;
    padding-top: 1em;
    margin-bottom: 7em;
    width: 200px;
  }

.email-list {
    font-size: 1.4em;
    padding-top: 1em;
    margin-bottom: 7em;
  }

.ft-legal {
    font-size: 1.2em;

  }

  ul.ft-social-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-left:

  }
}

/* case study */

@media screen and (max-width: 414px){

.cs-head {
  font-size: .9em;
  margin-left: -4em;
}

.greenarrow-img {
  display: none;
}

.role-head {
  margin-left: 2.8em;
}
#role {
  font-size: 1.5em;
}

#role-detail {
  font-size: 1.1em;
  margin-top: 1.2em;
}

.project-exp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -.4em;
  margin-top: 30em;
  height: 45em;
  width: auto;
}

#casepara {
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 140%;
  margin-top: 2em;
  margin-left: 7em;
}

.proj-word {
  width: 31em;
}

.proto-img {
  height: 14.5em;
  width: 14.5em;
  margin: auto 13em;
}

.intro {
  background-color: #FFD9EE;
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  margin-bottom: 8em;
  height: 87em;
  width: auto;
}

.problem {
  height: auto;
  margin-left: 1.8em;
  width: 30.5em;
}

#prob-head {
  text-align: left;
  margin-top: 80px;
  margin-right: 300px;
}

.chartpic {
  width: 24em;


}

.olymockup2-img {
  align-self: center;
  height: auto;
  margin-top: 4em;
  margin-right: 3.4em;
  width: 32.5em;
}

.survey {
  margin-left: 1.2em;
  width: 305px;
}

.analysis {
  margin-left: 1.2em;
  width: 305px;
}

.personas {
  margin-left: 1.2em;
  width: 305px;
}

.user-flows {
  margin-left: 1.2em;
  width: 305px;
}

.wireframes {
  margin-left: 1.2em;
  width: 305px;
}

.wire-imgs {
  display: none;
}

.brand-whole {
  height: 102em;
  margin-top: 80px;

}

.branding-img {
  margin-right: auto;
  margin-top: -30em;

}

.brand-box {
  height: 73em;

}

.branding {
  margin-left: 3.5em;
  width: 305px;
}

.design-system {
  margin-left: 1.2em;
  margin-top: 20em;
  width: 305px;
}

.high-fidelity {
  margin-left: 1.2em;
  width: 305px;
}

.hf-imgs {
  display: none;
}


}
