
# {
  box-sizing: border-box;
}

html {font-size: 10px;

}

body {
  background-color: ffffff;
}

.container {
  background-color: ffffff;
  width: 90%;
  font-family: montserrat, sans-serif;
  margin-left: 96px;
  margin-right: 96px;
}

.hero {
  width: 80%;
}

#hellohero {
  font-family: vox, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 14.0rem;
  line-height: 80%;
  width: 30%;
  display: inline-block;
  padding-right: 1.6rem;
  padding-top: 9.6rem;
}
#blurb1 {
  font-size: 2.4rem;
  font-weight: 300;
  width: 245px;
  display: inline-block;
  padding-right: 9.6rem;
  padding-top: 21.1rem;
}

#blurb2 {
  font-size: 1.3rem;
  font-weight: normal;
  width: 133px;
  display: inline-block;
  padding-top: 38.5rem;
}

@media screen and (min-width: 1000px) {
  .container {
    background-color: ffffff;
    width: 90%;
    font-family: montserrat, sans-serif;
  };

  #blurb1 {
    font-size: 1.3rem;
    font-weight: normal;
    display: inline-block;

  };

}
