* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: montserrat, sans-serif;
}

h1 {
  font-size: 17.4em;
  font-family: vox, sans-serif;
  line-height: 85%;
  margin-top: 40px;
}

h2 {
  font-size: 3.8em;
  font-family: vox, sans-serif;

}

h3 {
  font-family: vox, sans-sans-serif;
  font-size: 2.8em;
  text-align: right;

}

.logo {

  height: auto;
  width: 51px;
}


.topNav {
  display: flex;
  height: 35px;
  justify-content: space-between;
  margin: 30px 85px;
  width: auto;
}



#navcontainer
{
margin: 10px 0 0 30px;
padding: 0;

}

#navcontainer ul
{
border: 0;
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li
{
display: block;
float: left;
text-align: center;
padding: 0;
margin: 0;
}


#navcontainer ul li a
{
background: #fff;
width: 100px;
height: 40px;
border-top: 2px solid #000;
border-left: 2px solid #000;
border-bottom: 2px solid #000;

padding: 7px 0 0 0;
margin: 0 0 10px 0;
color: #000;
text-decoration: none;
display: block;
text-align: center;
font: normal 18px montserrat, sans-serif;
}

.end-list {
  border-right: 2px solid #000;
  height: 40px;
}


#navcontainer ul li a:hover
{
color: #fff;
background: #FF008E;
}



.hero {
  display: flex;
  margin-left: 220px;
  margin-top: 70px;
}


.right-elements {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}



.barcode {
  position: fixed;
  left: 0;
  height: 560px;
  margin-top: 125px;
  width: 120px;
  background-repeat: no-repeat;
}

.date {
  display: inline-block;
  float: right;
  margin-right: 10px;
  width: 20px;
  height: 140px;
}

.green-arrow {
  height: 120px;
  margin-left: 115px;
  margin-top: 485px;
  width: 120px;

}

#blurb1 {
  font-size: 2.4em;
  font-family: montserrat, sans-serif;
  font-weight: 200;
  line-height: 115%;

  height: 290px;
  padding-top: 189px;
  width: 230px;
}
#blurb2 {
  font-family: montserrat, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 120%;
  height: 120px;
  padding-top: 356px;
  padding-left: 65px;
  width: 200px;

}



.selfie-img {
  height: 295px;
  margin-left: 50px;
  margin-right: 80px;
  margin-top: 190px;

  width: 295px;

}

.body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  width: 89.5%;

}

.projectquad {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 85px;
}

#proj {
  margin-top: 205px;
  margin-left: 95px;
}

#talk {
  margin-left: 95px;
  padding-top: 345px;
}

.project1 {
  border: 3px black solid;
  width: 608px;
  height: 700px;
  line-height: 150%;
  margin: 35px;
  padding-left: 60px;
  padding-top: 60px;
  background-color: #29E267;
}
.project2 {
  border: 3px black solid;
  width: 608px;
  height: 700px;
  line-height: 150%;
  margin: 35px;
  padding-left: 60px;
  padding-top: 60px;
  background-color: #FF008E;
}
.project3 {
  border: 3px black solid;
  width: 608px;
  height: 700px;
  line-height: 150%;
  margin: 35px;
  padding-left: 60px;
  padding-top: 60px;
  background-color: #FBFF2F
}
.project4 {
  border: 3px black solid;
  width: 608px;
  height: 700px;
  line-height: 150%;
  margin: 35px;
  padding-left: 60px;
  padding-top: 60px;
  background-color: #FF3317;
}

.projectpara {
  height: auto;
  font-size: 1.6em;
  font-family: montserrat, sans-serif;
  width: 155px;
  margin-top: 75px;
}


/* case study page 1 */

.container-oly {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 88%;

}

.cs-head {
  margin-left: -100px;
}

#cs-bottom {
  font-size: 4.2em;
  margin-top: 100px;
}


.project-exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 300px;
  height: 287px;
  width: auto;
}

.proj-word {
  width: 514px;
}

.proto-img {
  height: 290px;
  width: 290px;
  margin-right: 260px;
}

.olymockup-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: absolute;
  top: 0;
  right: 0;
  height: 798px;
  width: 790px;

}

.greenarrow-img {
  height: 105px;
  width: 105px;
  align-self: flex-end;
  margin-left: 180px;

}

.pinkarrow-img {
  height: 19px;
  margin-left: 5px;
  width: 19px;
}

.sec-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 385px;
  width: 515px;
}

#casepara {
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 140%;
  margin-top: 20px;
  margin-left: 100px;

}

#role {
  text-decoration: underline;
  font-size: 2.2em;
  font-family: montserrat, sans-serif;
}

.role-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 100px;

}

#role-detail {
  margin-top: 18px;
  font-size: 1.4em;
}

.intro {
  background-color: #FFD9EE;
  display: flex;
  margin-top: 115px;
  margin-bottom: 115px;
  height: 600px;
}

.problem {
  height: auto;
  margin-right: 345px;
  margin-left: 104px;
  width: 515px;
}



#prob-head {
  text-align: left;
  margin-top: 80px;
  margin-right: 300px;
}

.olymockup2-img {
  align-self: center;
  height: 382px;
  width: 515px;
}

.survey {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 165px;
  width: 555px;

}

.charts-img {
  height: 480px;
  margin: 0 auto;
  margin-top: 190px;
  width: 1223px;
}

.analysis {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 250px;
  width: 555px;
}

.competitive-img {
  height: 215px;
  margin: 0 auto;
  margin-top: 180px;
  width: 806px;
}

.personas {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 250px;
  width: 555px;
}

.persona-box {
  background-color: #E9E6E6;
  height: 1100px;
  margin: 0 auto;
  margin-top: 180px;
  padding: 42px 0;
  width: auto;
}

.personas-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1014px;
  width: 1245px;
}

.user-flows {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 250px;
  width: 555px;
}

.userflow-img {
  height: 585px;
  margin: 0 auto;
  margin-top: 180px;
  width:505px;
}

.wireframes {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 250px;
  width: 555px;
}

.wire-imgs {
  display: flex;
  margin-top: 180px;
  margin-bottom: 185px;
  justify-content: space-between;
}
.wire1-img {
  height: 505px;
  width: 308px;
}

.wire2-img {
  height: 505px;
  width: 300px;
}

.wire3-img {
  height: 211px;
  width: 298px;
}

.wire4-img {
  height: 505px;
  width: 294px;
}

.brand-whole {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #FFD9EE;
  height: 1060px;
  margin: 0 auto;
  margin-top: 130px;
  width: auto;
}

.branding {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  width: 555px;
}

.brand-box {
  height: auto;
  width: auto;
}
.branding-img {
  display: block;
  height: 675px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;

}

.design-system {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 350px;
  width: 555px;
}

.style-img {
  height: 618px;
  margin: 0 auto;
  margin-top: 180px;
  width: 1248px;

}

.high-fidelity {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  margin-top: 200px;
  width: 555px;
}

.hf-imgs {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: space-around;
  width: auto;
}

.hf1-img {
  height: 638px;
  margin-right: 30px;
  width: 402px;
}

.hf2-img {
  height: 712px;
  margin-right: 30px;
  width: 402px;
}

.hf3-img {
  height: 589px;
  width: 402px;
}

.cs-h3 {
  text-align: left;
  margin-top: 100px;
}

.finalmockup-img {
  display: flex;
  flex-wrap: wrap;
  height: 1020px;
  margin: 0 auto;
  margin-top: 100px;
  width: 1410px;
}

.conclusion {
  display: flex;
  flex-direction: column;
  margin-top: 240px;
  margin-bottom: 240px;
  height: 287px;
  width: 514px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul.email-list {
    list-style: none;
    padding-left: 0;
    display: flex;
}

ul.phone-list {
    list-style: none;
    padding-left: 0;
    display: flex;
}

ul.social-links {
    list-style: none;
    padding-left: 0;
    display: flex;
}

ul.navbutton {
  display: flex;
  height: 30px;
  justify-content: space-around;
  list-style: none;
  border-style: solid;
  border-width: 2px;
  width: 300px;

}



li {
  font-family: montserrat, sans-serif;

}

footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}



.ft-main {
  display: flex;
  justify-content: space-around;
  padding-top: 65px;
}

.ft-main-item {
  width: 160px;

}

.social-links {
  flex-direction: column;
  font-size: 1.6em;
  padding-top: 17px;
  padding-bottom: 70px;
}

.phone-list {
  font-size: 1.6em;
  padding-top: 17px;
  width: 200px;
}

.email-list {
  font-size: 1.6em;
  padding-top: 17px;
}

.ft-title {
    color: #fff;
    font-family: montserrat, sans-serif;
    font-size: 1.6rem;
    border-bottom: 1px solid #29E267;

}

ul.ft-social-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 95px;

}

.ft-legal {
  display: flex;
  font-size: 1.4em;
  justify-content: center;
  margin-bottom: 20px;
}
